.hero {
	background: url('../img/bg/hero-bg.png');
	background-size: cover;
	position: relative;

	.container {
		position: static;
	}
}
.hero__content {
	@include clearfix;
}

.hero__container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

.hero__left {
	float: left;
	width: 50%;
}

.hero__right {
	float: left;
	width: 50%;
	padding-top: 115px;
}

.hero__desc {
	font-size: 65px;
	color: white;
	@include lifehack;
	text-transform: lowercase;
	line-height: 1em;
}

.hero__img {
	display: inline-block;
	max-width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.down-arrow {
	display: block;
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 60px;
	height: 14px;
	margin-left: -15px;
	transition: .3s;
	height: 60px;

	&:hover {
		svg {
			margin-top: -15px;
			width: 35px;
			height: 35px;
		}
	}

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 30px;
		transform: translate(-50%, -50%);
		transition: .3s;
	}
}
// HEADER
.header {
	padding-top: 12px;
}

.header__logo {
	float: left;
	width: 32%;
}

.header__menu {
	float: left;
	width: 68%;
	padding-top: 13px;
}

.nav {
	width: 83%;
	@include inlineblock(middle);
}

.order-link {
	width: 15%;
	@include inlineblock(middle);
	padding: 9px 0;
	margin-left: 2%;
}

.nav__list {
	width: 100%;
	@extend %clearfix;
}

.nav__item {
	white-space: nowrap;
	margin-right: 15px;
	display: block;
	float: left;

	&:last-child {
		margin-right: 0;
		&:after {
			display: none;
		}
	}

	&:after {
		content: "";
		@include inlineblock(middle);
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: white;
		margin-left: 15px;
	}
}

.nav__link {
	@include inlineblock(middle);
	font-size: 13px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	@include ubuntu(medium);

	&:hover {
		text-decoration: underline;
	}
}
.order-link {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    padding: 9px 0;
    margin-left: 2%;
}
