@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebas___-webfont.woff2') format('woff2'),
    url('../fonts/bebas___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Myr';
    src: url('../fonts/MyriadPro-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'StMarie';
    src: url('../fonts/stmarie-thin-webfont.woff2') format('woff2'),
    url('../fonts/stmarie-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
