@media screen and (max-width: 768px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
    }
    .nav__list {
        text-align: center;
    }
    //    HEADER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    .header__left {
        width: 75%;
    }
    .header__right {
        width: 25%;
    }
    .contacts {
        margin-top: 20px;
        &:hover {
            .contacts__trigger {
                background: url(/img/icons/phone-hover.png);
                cursor: pointer;
            }
        }
    }
    .contacts__trigger {
        text-indent: 9999px;
        display: inline-block;
        white-space: nowrap;
        width: 32px;
        height: 32px;
        background-image: url(../../img/icons/phone.png);
    }
    .contacts__dropdown {
        left: -190px;
        top: 100%;
    }
    .contacts__dropdown-triangle {
        transform: translateX(80px);
    }
    //    ABOUT\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    .about__left {
        float: none;
        width: 100%;
        text-align: center;
    }
    .about__right {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .content-title {
        text-align: center;
    }
    //    CAREER\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    .career__left {
        width: 220px;
        float: none;
        margin: 0 auto;
    }
    .career__right {
		float: none;
		width: 100%;
	}

	.career__block {
		&:after, &:before {
			display: none;
		}

		.career__year {
			display: none;
		}
	}

	.career__block {
		width: 100%;
	}
    .wrapper:after {
		height: 95px;
	}
    .footer {
		height: 95px;
		margin-top: -95px;
    
		.container {
			padding-top: 10px;
		}
	}
	
    .copyright {
        width: 100%;
		position: static;
		text-align: center;
	}

	.socials__list {
		position: static;
		text-align: center;
	}

	.footer__left {
		margin-bottom: 10px;
	}

}